build --action_env=BAZEL_CXXOPTS="-std=c++20"
build --action_env=BAZEL_CXXOPTS='-Wall'
build --action_env=BAZEL_CXXOPTS='-Weffc++'
build --action_env=BAZEL_CXXOPTS='-Wextra'
build --action_env=BAZEL_CXXOPTS='-Wconversion'
build --action_env=BAZEL_CXXOPTS='-Wsign-conversion'
build --cxxopt='-std=c++20'
build --cxxopt='-Wall'
build --cxxopt='-Weffc++'
build --cxxopt='-Wextra'
build --cxxopt='-Wconversion'
build --cxxopt='-Wsign-conversion'
test --test_output=errors
