build --action_env=BAZEL_CXXOPTS="-std=c++20"
build --action_env=BAZEL_CXXOPTS='-Wall'
build --action_env=BAZEL_CXXOPTS='-Wextra'
build --action_env=BAZEL_CXXOPTS='-Werror'
build --cxxopt='-std=c++20'
build --cxxopt='-Wall'
build --cxxopt='-Wextra'
build --cxxopt='-Werror'
build --features=external_include_paths
test --test_output=errors
