build --action_env=BAZEL_CXXOPTS="-std=c++20" --action_env=BAZEL_CXXOPTS='-Wall' --action_env=BAZEL_CXXOPTS='-Wextra' --action_env=BAZEL_CXXOPTS='-Werror' --cxxopt='-std=c++20' --cxxopt='-Wall' --cxxopt='-Wextra' --cxxopt='-Werror' --features=external_include_paths
test --test_output=errors
coverage --action_env=GCOV
